@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
.page {
  break-after: auto;
  page-break-after: auto;
}

.label {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Print styles */
@media print {
  @page {
    size: auto;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }
  
  .print-section, .print-section * {
    visibility: visible;
  }
  
  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .page {
    margin: 0 !important;
    padding: 0 !important;
    break-after: avoid !important;
    page-break-after: avoid !important;
  }

  .label {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
    position: absolute !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: transparent !important;
  }

  img {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain !important;
  }
}